<nav id="navbar">
  <p>Bienvenido,
    {{user.first_name}}
    {{user.last_name}}
    <br />
    {{user.email}}
    <br />
    Rol:
    {{user.role}}
  </p>
  <input type="hidden" id="cartId" value="{{user.cart}}" />
  <a href="/products"><button class="navBtn">Ver Productos</button></a>
  <form action="/api/users/logout" method="post">
    <button type="submit">Cerrar sesión</button>
  </form>
</nav>
<h1>Datos del Usuario</h1>
<div class="userData">
<h4>Nombre: </h4>{{user.first_name}}
<br />
<h4>Apellido: </h4> {{user.last_name}}
<br />
<h4>E-mail: </h4> {{user.email}}
<br />
<h4>Edad: </h4> {{user.age}}
<br />
<h4>Foto de Perfil: </h4> 
<br />
{{user.img}}
</div>
<h2>Mi Carrito</h2>
<br />
<div class="tableContainer">
  <table class="productTable">
    <th>Nombre</th>
    <th>Descripción</th>
    <th>Código</th>
    <th>Precio</th>
    <th>Cantidad</th>
    <th>Categoría</th>
    {{#each cart.products}}
      <tr>
        <td>{{this.product.title}}</td>
        <td>{{this.product.description}}</td>
        <td>{{this.product.code}}</td>
        <td>{{this.product.price}}</td>
        <td>{{this.quantity}}</td>
        <td>{{this.product.category}}</td>
        <td><button onclick="deleteFromCart('{{this.product._id}}')">Eliminar producto</button></td>
      </tr>
    {{/each}}
  </table>
  <br />
</div>
<script src="/js/products.js"></script>